.page-menu {
    background: var(--color-secundary);
    border-radius: 5px 5px 0 0;
}

.page-menu-list {
    display: flex;
    justify-items: center;
    max-width: 600px;
    justify-content: space-between;
    margin: auto;
}

.page-menu-list .link {
    padding: 5px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 8px;
}

.page-menu-list .link:hover {
    background: #fff;
    color: var(--color-title);
    border-radius: 2.5px 2.5px 0 0;
}

@media (min-width: 900px) {
    .page-menu-list {
        max-width: 800px;
    }
}