.page-body-produtos {
    margin-top: 30px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 900px) {
    .page-body {
        max-width: 1200px;
        margin: auto;
    }
    .page-body-produtos {
        margin-top: 40px;
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .page-body-produtos {
        grid-template-columns: repeat(5, 1fr);
    }
}