.page-header {
    background: var(--color-primary);
}

.page-header-main {
    background: var(--color-primary);
    ;
    width: 95vw;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 29px;
}

.page-header-input {
    display: flex;
}

.page-header-logo {
    text-transform: uppercase;
    font-size: 25px;
    color: whitesmoke;
}

.page-header button {
    cursor: pointer;
}

.page-header button,
.page-header input {
    outline: none;
    border: none;
    padding: 8px;
    color: #535353;
}

.page-header input {
    border-radius: 5px 0 0 5px;
}

.page-header-input input {
    width: 150px;
}

.page-header-input button {
    border-radius: 0 5px 5px 0;
    width: 35px;
}

.page-header-button-cadastro {
    border-radius: 5px;
    background: whitesmoke;
    font-weight: 700;
    width: 10px;
    padding: 5px;
    text-decoration: none;
    color: #535353;
}

.page-header {
    background: var(--color-primary);
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "main main main" "menu menu menu";
}

.page-header-main {
    grid-area: main;
}

.page-header-menu {
    grid-area: menu;
    width: 58vw;
}

@media (max-width: 450px) {
    .page-header-menu {
        display: none;
    }
}

@media (max-width: 670px) {
    .page-header-main {
        display: grid;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "logo logo logo" "input input input";
    }
    .page-header-logo {
        grid-area: logo;
        text-align: center;
        margin-top: -40px;
    }
    .page-header-input {
        margin: auto;
        justify-content: center;
    }
    .page-header-input input {
        grid-area: input;
        margin-top: 15px;
        margin-bottom: -20px;
        width: 80vw;
    }
    .page-header-input button {
        margin-top: 15px;
        margin-bottom: -20px;
    }
    .button-cadastro {
        display: none;
    }
    .page-header-main {
        padding: 39px;
    }
    .form .page-header-logo {
        text-transform: uppercase;
        font-size: 35px;
        color: whitesmoke;
        margin: auto;
    }
}

@media (max-width: 700px) {
    .page-header-menu {
        width: 80vw;
    }
}

@media (min-width: 900px) {
    .page-header-input input {
        width: 450px;
    }
}

@media (min-width: 1250px) {
    .page-header-logo {
        text-transform: uppercase;
        font-size: 35px;
        color: whitesmoke;
    }
    .page-header-input input {
        width: 600px;
        padding: 15px;
    }
    .page-header-input button {
        width: 55px;
    }
    .page-header-button-cadastro {
        border-radius: 5px;
        text-transform: uppercase;
        padding: 13px;
        width: 220px;
    }
}

.page-body {
    max-width: 700px;
    margin: auto;
    margin-left: 30px;
}

.page-body-titulo {
    margin-bottom: 30px;
    color: var(--color-title);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

@media(min-width: 1200px) {
    .page-body {
        max-width: 800px;
        margin: auto;
    }
}